*, *::before, *::after {
  box-sizing: border-box;
}
html, body {
  --color-base: #0c0d0e;
  --color-bg: white;

  background: var(--color-bg);
  color: var(--color-base);
  font-family: system-ui, -apple-system, "Segoe UI", sans-serif;
  font-size: 100%;
  line-height: 1.4;
}
body {
  margin: 0 auto;
  padding: 0.8em 1em;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin: 1em 0 0.25em 0;
}
p, ul, ol, blockquote, pre {
  margin: 0.5em 0;
}
a {
  color: var(--color-base);
  text-decoration: underline;
}
b, strong {
  font-weight: 600;
}
ul, ol {
  padding-left: 1.4em;
  margin: 0.3em 0;
}
ul li {
  margin: 0.2em 0;
  color: #333;
}
ul li::marker {
  color: #777;
  font-size: 0.8em;
}
blockquote {
  border-left: 2px solid #999;
  margin: 0.5em 0;
  padding-left: 0.8em;
  color: #333;
}
pre, code {
  font-family: "SFMono-Regular", Consolas, Menlo, monospace;
  font-size: 1em;
  background: #eee;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  overflow-x: auto;
}
pre code {
  background: none;
  padding: 0;
  border-radius: 0;
}
textarea {
  font-family: inherit;
}
button {
  background: #f2f4f7;
  border: 1px solid currentColor;
  color: #4ca5f2;
  cursor: pointer;
  border-radius: 0.2em;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1em 0;
  width: 100%;
  font-size: 1em;
}
th, td {
  border: 1px solid #ccc;
  padding: 0.2em 0.4em;
}
td {
  text-align: left;
  vertical-align: top;
} 
th {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  background: #f5f5f5;
}
table caption {
  font-weight: bold;
  margin-top: 0.5em;
}
img {
  vertical-align: text-bottom;
  max-width: 100%;
}
figure {
  display: inline-flex;
  flex-direction: column;
  margin: 1.5em 0;
  padding: 0;
}
figure figcaption {
  font-size: 0.9em;
}
.top-bar {
  display: flex;
  gap: 1em;
  align-items: center;
}
.top-heading {
  margin: 0;
  line-height: 1;
  font-weight: 500;
  font-size: 1.5em;
}
.permalink {
  display: block;
}
.view-toggle {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: var(--color-bg);
  padding: 0.5em 1.5em;
  margin: 0 -1.5em;
  box-shadow:  0px 6px 6px 0px rgba(0, 0, 0, 0.12); /* TODO: only show when :stuck */
}

/* === xlet math start === */
.xlet-math-svg.xlet-math-inline {
  display: inline-block;
}
.xlet-math-tex.xlet-math-block,
.xlet-math-svg.xlet-math-block {
  display: block;
  text-align: center;
}
.xlet-math-mathml {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
/* === xlet math end === */

/* === intra-page anchor handling when sticky header is present === */
:root { --xlet-sticky-offset: 0px; }
:target { scroll-margin-top: var(--xlet-sticky-offset); }
[id] { scroll-margin-top: var(--xlet-sticky-offset); }

/* === toggle views === */
.show-html .html-view,
.show-md .md-view,
.show-raw .raw-view {
  display: block;
}
.show-html .md-view,
.show-html .raw-view,
.show-md .html-view,
.show-md .raw-view,
.show-raw .html-view,
.show-raw .md-view {
  display: none;
}

/* === empty view styling === */
.show-html .empty-html,
.show-md .empty-md,
.show-raw .empty-raw {
  display: none;
}

/* === view fallback styling === */
.fallback-html, .fallback-md, .fallback-raw {
  display: none;
  margin-top: 1em;
  padding: 1em;
  background: #ffefef;
  border: 1px solid #f5c2c2;
  color: #a71d2a;
  border-radius: 0.3em;
}
.show-html .fallback-html,
.show-md .fallback-md,
.show-raw .fallback-raw {
  display: block;
}
.fallback-html a, .fallback-md a, .fallback-raw a {
  color: #7a1630;
  /* font-weight: 600; */
}
.fallback-html a:hover, .fallback-md a:hover, .fallback-raw a:hover {
  color: #5e1025;
}

/* === xlet-page styling === */
.node-root.shell {
  margin: 0;
  padding: 0;
}
.node-root:not(.shell) {
  margin-top: 0.5em;
  padding: 0.5em;
}
.node-root > .node,
.node > .node {
  margin-top: 1.5em;
  padding: 0;
}
.node-root.shell > .node {
  border: 1px solid #dedede;
  margin-top: 0.5em;
  padding: 0.5em;
}
.node-root:not(.shell) > .node {
  border: none;
}
.node-heading {
  margin-bottom: 0.6em;
  display: flex;
  gap: 1em;
  align-items: center;
}
.node-title {
  margin: 0;
  line-height: 1;
}
.node-contrib {
  margin-top: 1.1em;
  line-height: 1.3;
}
.md-view, .raw-view {
  white-space: pre-wrap;
  line-height: 1.4;
}
.node-body {
  margin: 0;
}
.node-body h1, .node-body h2, .node-body h3,
.node-body h4, .node-body h5, .node-body h6 {
  margin: 0.35em 0 0.05em;
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1.15;
}
